:root {

  --secondry: #CB3929;
  --main: #FAA63D;
  --main2: #80351a;
  --hero-side: url(./imgs/hd_gryffindor_traits_phone_wallpaper_by_emily_corene_d7yll4v.jpg);
  --quote: "You might belong in Gryffindor,Where dwell the brave at heart,Their daring, nerve, and chivalry,Set Gryffindors apart.";
}

.gryffindor {
  --secondry: #CB3929;
  --main: #FAA63D;
  --main2: #80351a;
  --hero-side: url(./imgs/hd_gryffindor_traits_phone_wallpaper_by_emily_corene_d7yll4v.jpg);
  --quote: "You might belong in Gryffindor,Where dwell the brave at heart,Their daring, nerve, and chivalry,Set Gryffindors apart.";
}

.Hufflepuff {
  --secondry: #23241F;
  --main: #F2CC0F;
  --main2: #402D09;
  --hero-side: url(./imgs/hd_hufflepuff_traits_phone_wallpaper_by_emily_corene_d7ylkg1.jpg);
  --quote: "You might belong in Hufflepuff,Where they are just and loyal,Those patient Hufflepuffs are true,And unafraid of toil.";
}

.ravinclaw {
  --secondry: #0D0D0D;
  --main: #049DBF;
  --main2: #075466;
  --hero-side: url(./imgs/hd_ravenclaw_phone_wallpaper_by_emily_corene_d7ylkth.jpg);
  --quote: "Or yet in wise old Ravenclaw,If you've a ready mind,Where those of wit and learning,Will always find their kind.";
}

.Slytherin {
  --secondry: silver;
  --main: #31A62D;
  --main2: #0E400D;
  --hero-side: url(./imgs/hd_slytherin_traits_phone_wallpaper_by_emily_corene_d7yljq6.jpg);
  --quote: "Or perhaps in Slytherin,You'll make your real friends,These cunning folks use any means To achieve their ends.";
}

@font-face {
  font-family: magic;
  src: url(./fonts/HarryP.ttf);
}

* {
  box-sizing: border-box;
  font-family: magic, Impact, 'Arial Narrow Bold', sans-serif;
  transition-duration: 0.7s;
}


#container {
  display: flex;
  height: 100vh;
  width: 100vw;

}


.hero-side {
  background-image: var(--hero-side);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: inherit;
}

.form-side {

  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: inherit;
  background-color: var(--main2);
}

.quote {
  display: flex;
  align-items: center;
  height: 25%;
  padding: 40px;
  text-align: center;
  color: var(--main);
  font-size: calc(1.5vw + 1.5vw);
}

.quote::after {
  content: var(--quote);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  height: 55%;
  background-color: var(--main);
  color: var(--main2);
}

.footer {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}

.footer button {
  border-color: var(--secondry);
  border-width: 6px;
  margin: 20px;
  width: 20vw;
  height: 8vh;
  background-color: var(--main);
  color: var(--main2);
  border-radius: 10px;
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: calc(1.5vw + 1.5vw);
}

.footer button:hover {
  background-color: var(--secondry);
  color: var(--main);
  border-color: var(--main);

}

.footer p {
  margin-top: -10px;
  margin-left: 20px;
  color: var(--main);
  font-size: calc(1vw + 1vw);
}

a {
  color: var(--main);
  font-size: 1.5em;
}

a:hover {
  color: var(--secondry);
}

.full-name,
.email-Number,
.pwd-container,
.houses {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  gap: 20px;
  margin: 1vh;
  font-size: calc(2vw + 1vh);
  flex-grow: 1;

}

.houses {
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: solid; */
  flex-grow: 1 0.5 auto;

}

.houses button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 2em;
  height: 2em;
  transition: 0.1s;


}

.houses button:hover {
  transform: scale(1.2);
}

.houses button:active {
  transform: scale(0.8);
  transition: 0.1s;
}

input {
  width: 100%;
  border-radius: 10px;
  background-color: var(--main2);
  color: var(--main);
  padding: 1.5vh;
  border: solid;
}

label {
  width: 50%;
  font-size: calc(1vw + 1vh);
}

label>div {
  height: 40%;
}

#GryffindorButton,
#HufflepuffButton,
#RavenclawButton,
#SlytherinButton {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#GryffindorButton {
  background-image: url(./imgs/gryffindor_house_stamp_by_crystallynnblud_d4iijzk.png);

}

#HufflepuffButton {
  background-image: url(./imgs/hufflepuff_house_stamp_by_crystallynnblud_d4iijz1.png);
}

#RavenclawButton {
  background-image: url(./imgs/ravenclaw_house_stamp_by_crystallynnblud_d4iijzd.png);
}

#SlytherinButton {
  background-image: url(./imgs/slytherin_house_stamp_by_crystallynnblud_d4iijyj.png);
}

/* input:invalid {
  background-color: red;
} */

@media screen and (max-width: 600px) {
  label {
    font-size: 30px;
    background-color: var(--main);
    border-radius: 20px;
    padding: 10px;

  }

  .quote {
    box-sizing: border-box;
    background-color: var(--main2);
    margin: 50px;
    border-radius: 20px;
  }

  .hero-side {
    display: none;

  }

  .form-side {
    width: 100vw;
    background-image: var(--hero-side);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  #theForm {
    background-color: transparent;
    gap: 20px;

  }

  .footer {
    justify-content: center;
    align-items: center;
  }
}